/* I've gotten you started to show how each element lives in a box! */


body {
background: radial-gradient(circle, #C7C9D5, #4653DB);
background-position: center;
}
h1 {
  color: rgba(172, 141, 225, 1);
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
  text-shadow: 2px 2px #fff;
}

h2 {
    border-style: dotted;
    border-color: lightgrey;
}

h3 {
    color: black;
    text-shadow: 1px 1px cadetblue;
    border-style: dashed;
    border-color: burlywood;
}

.image {
    text-align: center;
    border-radius: 100px; 
}
/* When you're ready to write your CSS, Erase the above code! */
